.bg-deco
  .form-deco
    .top-deco
      svg.wave(width="1162px" height="1085px" viewBox="0 0 1162 1085" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        include ../svg/deco-top
