.bg-deco
  .page-deco
    .top-deco
      svg.wave(width="1162px" height="1085px" viewBox="0 0 1162 1085" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        include ../svg/deco-top
    .bottom-deco
      svg.wave(width="1443px" height="1107px" viewBox="0 0 1443 1107" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        include ../svg/deco-bottom
