.cloud-deco
  .left-deco
    |
    |
    svg.cloud.big(width="508px" height="222px" viewBox="0 0 508 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
      include ../svg/cloud-deco.pug
    |
    |
    svg.cloud.small(width="508px" height="222px" viewBox="0 0 508 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
      include ../svg/cloud-deco.pug
    |
    |
  .right-deco
    |
    |
    svg.cloud.big(width="508px" height="222px" viewBox="0 0 508 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
      include ../svg/cloud-deco.pug
    |
    |
    svg.cloud.small(width="508px" height="222px" viewBox="0 0 508 222" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
      include ../svg/cloud-deco.pug
