.call-to-action
  .action
    .root
      h4.use-text-title2
        | #{$t.retail_landing.footer_text}
      |
      |
      .btn-area
        |
        |
        a.waves-effect.btn.btn-large.primary(href=link.retail.register)
          | #{$t.common.btn_get}
        |
        |

