.counter-wrap
  .row.justify-content-center.align-items-center
    .col-sm-4.col
      .counter-item-home
        .text
          h3.use-text-title.primary-line +200
          p.use-text-subtitle2 #{$t.marketing_landing.about_employee}
    .col-sm-4.col
      .counter-item-home
        .text
          h3.use-text-title.secondary-line +500
          p.use-text-subtitle2 #{$t.marketing_landing.about_projects}
    .col-sm-4.col
      .counter-item-home
        .text
          h3.use-text-title.accent-line +300
          p.use-text-subtitle2 #{$t.marketing_landing.about_client}
