//- ***
//- CONFIGURATION FOR ASSETS AND ATTRIBUTES
//- ***
//- Setup assets path, html attributes variables
//- for language or layout direction here
//- ***

//- Change your environment here to define the assets path
//- Available env: dev, prod, and node_modules
- var env = 'prod'

//- HTML attribute
- var doc_lang = 'ar'
- var doc_dir = 'rtl'

//- Assets Path
- var multilang = '../../assets'
- var prod = '../assets'
- var dev = './assets'

//- Use assets path
- var assets = prod
- var img_assets = ''



//- ***
//- CONFIGURATION FOR UI COMPONENTS
//- ***
//- Various component types and layouts for
//- Header, footer and floating corner
//- ***

//- UI Header
- var headerType = '' // available: mixed, basic, droplist, mega, hamburger, navscroll, search

//- UI Footer
- var footerType = '' // available: basic, blog, contact, sitemap

//- UI Floating corner
- var cornerType = '' // available: chat, nav

//- UI Imag 2d/3d Illustrations
- var img_artwork = imgAPI.fintech3d // available: imgAPI.fintech3d, imgAPI.fintech2d
- var img_artworkInner = imgAPI.fintechInner3d // available: imgAPI.fintechInner3d, imgAPI.fintechInner2d
